body{
    width: 1025px;
    height: 500px;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#fondo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}